.nav-bar {
    background-color: #471a1a;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-bar ul li a:hover {
    color: #ffcc00;
}